<app-header></app-header>
<div class="site-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-7">
        <h2 class="heading-21921">Account Information</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class=" mb-4">
          <div class="form-group">
            <label for="customerName">Name</label>
            <input class="form-control" disabled id='customerName' type="text" value={{user.name}}/>
          </div>
          <div class="form-group">
            <label for="customerEmail">Email</label>
            <input class="form-control" disabled id='customerEmail' type="email" value={{user.email}}/>
          </div>
          <div class="form-group">
            <label for="customerMobileNum">Mobile Number</label>
            <input class="form-control " disabled id="customerMobileNum" type="text" value={{user.mobileNumber}}/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class=" mb-4">
          <div class="form-group">
            <label for="customerAccNo">Account Number</label>
            <input class="form-control" disabled id='customerAccNo' type="text" value={{account.accountNumber}}/>
          </div>
          <div class="form-group">
            <label for="customerAccountType">Account Type</label>
            <input class="form-control" disabled id='customerAccountType' type="email" value={{account.accountType}}/>
          </div>
          <div class="form-group">
            <label for="branchAddress">Branch Address</label>
            <input class="form-control " disabled id="branchAddress" type="text" value={{account.branchAddress}}/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col">
    <div class="">
      <button class="btn btn-eazybank" routerLink="/dashboard">
        BACK
      </button>
    </div>
  </div>
</div>
